*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
    cursor: pointer;
}

th {
    background-color: #f2f2f2;
    justify-content: space-around;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td img {
    width: 30px;
    height: auto;
}

.divBtn {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

tr:hover{
    background-color: bisque;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;
    color: black;
}

button {
    height: 40px;
    width: 120px;
    cursor: pointer;
}

#overlay #listeDetail{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    max-width: 95%;
}

#overlay #listeDetail > li{
    list-style-type: none;
    padding: 10px;
}

#overlay img{
    border-radius: 15px;
    margin: 15px;
    max-height: 700px;
}

#listeDetail img{
    width: 20%;
}

#menuFiltre {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

#menuFiltre div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
    width: 100%;
}

#menuFiltre label {
    font-size: 14px;
    font-weight: bold;
}

#menuFiltre input, #menuFiltre select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
}

#menuFiltre select{
    cursor: pointer;
}

.trie{
    background-color: bisque;
}

.chevron{
    display: none;
    font-weight: 200;
}

.trie .chevron{
    display: inline;
}


#drapeau{
    cursor: default;
}